.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.input_add {
    border: none;
    border-radius: 7px;
    outline: none;
    width: 500px;
    height: 50px;
    padding: 20px 40px;
}

.btn_save {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
}