* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  gap:  100px;
}

.link {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.main-title {
  font-size: 60px;
  line-height: 55px;
  color:  white;
  margin: 0 0 80px 0;
}

.carts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

